In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import class pandas and it is renamed to pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
# dataset is Assigned to class pandas(pd) dot function name read_csv("csvfile Name.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [7]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
#input(YearsExperience) is assigned to variable independent
#closed Double bracket used for calling one column fromthe .csv file

In [8]:
dep=dataset[["Purchased"]]
##Output(Salary) is assigned to variable dependent
#closed Double bracket used for calling one column fromthe .csv file

In [9]:
indep.shape

(400, 3)

In [10]:
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
#To reduce the memory import perticular small function(train_test_split) from library (sklearn) Class (model_selection)
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)
# X- input(independent), y- Output(dependent). separate the data set 30 percentage to Test set and remaining to Training set

In [13]:
from sklearn.tree import DecisionTreeClassifier
Classifier = DecisionTreeClassifier(criterion ='entropy',random_state =0)
Classifier.fit(X_train,y_train)
#from sklearn.model_selection import GridSearchCV
#param_grid ={'criterion':['mse','mae','friedman_mse'],'n_estimators':[10,100,1000],'max_features':['auto','sqrt','log2']}
#grid = GridSearchCV(RandomForestRegressor(),param_grid,refit= True,verbose=3,n_jobs=-1)
#fitting the model for grid search('squared_error','absolute_error','poisson')
#grid.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [14]:
y_pred=Classifier.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [16]:
print(cm)

[[76  9]
 [ 8 41]]

In [17]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [18]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.90      0.89      0.90        85
           1       0.82      0.84      0.83        49

    accuracy                           0.87       134
   macro avg       0.86      0.87      0.86       134
weighted avg       0.87      0.87      0.87       134

In [ ]:
#print best parameter after tuning
#print(grid.best_params_)
#re=grid.cv_results_
#print("The R_score value for best parameter {}:".format(grid.best_params_))

In [ ]:
#table=pd.DataFrame.from_dict(re)

In [ ]:
#table

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction = grid.predict ([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

In [ ]:
import pickle
fileName="finalized_model_RF_regres_grid.sav"

In [ ]:
pickle.dump(grid,open(fileName,'wb'))
# store or saving the regressor file /fileName 
# 'wb' means write  binary values

In [ ]:
loaded_model=pickle.load(open("finalized_model_RF_regres_grid.sav",'rb'))
# check the function  dumped in the pickle , need to load the pickle function from filename 
# 'rb' means read binary values